@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);


:host{
  .listItems{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: $padding 0;
    .pokemon{
      position: relative;
      display: flex;
      width: calc(49% - 2.5rem);
      height: rem-calc(157 - 40);
      margin-bottom: rem-calc(10);
      background: whitesmoke;
      padding: $padding;
      border-radius: rem-calc(10);

      text-decoration: none;
      color: #262935;
      &__status{
        h2{
          font-size: rem-calc(22);
          font-style: italic;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: rem-calc(10);
        }
        ul{
          display: flex;
          flex-direction: column;
          li{
            background: #e1d4d4;
            font-size: rem-calc(10);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: rem-calc(50);
            width: rem-calc(60);
            margin-bottom: rem-calc(5);
          }
        }
      }
      &__image{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        height: rem-calc(90);
        width: rem-calc(110);
        right: $padding;
        bottom: $padding;
        img{
          width: rem-calc(80);
        }
      }
    }
  }

}
