<poke-search (emmitSearch)="getSearch($event)"></poke-search>
<section class="listItems">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons" ngFor="paginate: { itemsPerPage:10, currentPage: page, totalItems: totalsPokemon}">
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
      <section class="pokemon__status">
        <h2>{{ pokemon.name }}</h2>
        <ul>
          <li *ngFor="let value of pokemon.status.types">
            {{ value.type.name}}
          </li>

        </ul>
      </section>

      <section class="pokemon__image">
        <img
          [src]="pokemon.status.sprites.other.dream_world.front_default"
          [alt]="pokemon.name">
      </section>
    </a>
  </ng-template>
</section>
<!-- <pagination-controls></pagination-controls> -->
<img
    src="assets/icons/404.png"
    alt="Pokemon not found"
    width="100%"
    *ngIf="apiError"
  >


