@import './config-scss/reser.scss';
@import './config-scss/variables.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animation.scss';

html{
  font-family: 'Roboto',sans-serif;
  background: #262935;
}

main{
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
